{%extends 'algapp/base.html'%}

{%block content%}
<div class="rectangle3add"></div><h1 class="h1cadd">Please, type your full name, e-mail and choose the allergens from list below<br>to get the ability of using our service </h1>
    <form class="form_add_c" method="post"> 
        {%csrf_token%}
            {{form}}
        <button type="submit"> Create Profile </button>
    </form>

{%endblock content%}

{% block js_files %} 
<script>
    document.getElementById('id_search_query').addEventListener('input', function() {
        let searchQuery = this.value.toLowerCase();
        let allergenCheckboxes = document.querySelectorAll('input[name="allergens"]');

        allergenCheckboxes.forEach(function(checkbox) {
            let allergenName = checkbox.parentElement.textContent.toLowerCase();
            if (allergenName.includes(searchQuery)) {
                checkbox.parentElement.style.display = 'block';
            } else {
                checkbox.parentElement.style.display = 'none';
            }
        });
    });
  </script>
  
{% endblock %}


<div class="bg-image">
    <div class="menu-container">
        <div id="boxes"> 
            {% csrf_token %}
            {% for dish, allergic_m, allergic_v, ingredients_main, ingredients_var in dishes_allergens %}
                <div class="content1">
                    <p class="dish-name"><b>{{ dish.name }}:</b></p>
                </div>
                <div class="content1">
                    <p class="dish-name">
                        {% for i in ingredients_main %}
                            {% if i in allergic_m %}
                                <span class="allergen-warning">{{ i }}</span>,
                            {% else %}
                                <span>{{ i }}</span>,
                            {% endif %}
                        {% endfor %}
                        {% for i in ingredients_var %}
                            {% if forloop.last %}
                                {% if i in allergic_v %}
                                    <span class="modifiable-allergen-warning">{{ i }}.</span>
                                {% else %}
                                    <span>{{ i }}.</span>
                                {% endif %}
                            {% else %}
                                {% if i in allergic_v %}
                                    <span class="modifiable-allergen-warning">{{ i }},</span>
                                {% else %}
                                    <span>{{ i }},</span>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </p>
                </div>
                <div class="content1">
                    {% if allergic_m %}
                        <div class="object" onmouseover="showPopup()" onmouseout="hidePopup()">
                            <img src="/static/algapp/images/warning_red.png" width="20px">
                            
                            <div id="popup"><b>Found allergens in base ingredients: {% for allergen in allergic_m %} {{ allergen }} {% endfor %}. 
                                It couldn't be changed or replace, we recommend you avoid this dish</b>
                            </div>
                        </div>
                    {% endif %}
                    {% if allergic_v %}
                        <div class="object" onmouseover="showPopup()" onmouseout="hidePopup()">
                            <img src="/static/algapp/images/warning_yellow.png" width="20px">
                            
                            <div id="popup"><b>Found allergens in base ingredients: {% for allergen in allergic_m %} {{ allergen }} {% endfor %}. 
                                It couldn't be changed or replace, we recommend you avoid this dish</b>
                            </div>
                        </div>      
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>



Restaurant Profile old:

<div class="restaurant-profile">
    <div class="menu">
      <h2>Restaurant Profile</h2>
      <br>
      <div class="restaurant-info">
        <h4>{{rest_customer.name}}</h4>
        <h4>Address: {{rest_customer.address}}</h4>
        <br>
        <a href="{% url 'update_restaurant' %}">Update Restaurant's information</a><br>
        <a href="{% url 'add_dish' %}">Add dish</a>
      </div>
      <hr>
      <hr>
      <h3>Menu</h3>
      
      <br>
        {% for dish in dishes %}
          <div class="wrapper_3">
            <h5 class="dish-name-box"><a href="{% url 'update_dish' dish.id %}">{{ dish.name }}</a></h5>
            
              
              <p class="dish-ing-box">

                {% for ingredient in dish.dish_main_ingredients.all %}
                
                  {{ ingredient.name }},
                {% endfor %}
                {% for ingredient in dish.dish_var_ingredients.all %}
                {% if forloop.last %}
                  {{ ingredient.name }}.
                {% else %}
                  {{ ingredient.name }},
                {% endif %}
                {% endfor %}
              </p>
            
            <form class="dish-btn-box" action="{% url 'delete_dish' dish.id %}" method="post" onsubmit="return confirmDelete('{{ dish.name }}')">
              {% csrf_token %}
              <button  type="submit">Delete</button>
            </form>

          </div>
          <hr>
        {% endfor %}
    </div>
</div>

<script>

function confirmDelete(dishName) {
    return confirm('Do you want to delete ' + dishName + '?');
}

</script>

<style>


.rectangle {
    margin-top: 50px;
    margin-left: 300px;
    border: 3px solid #ecabbb;
    width: 165px;
    height: 90px;
    animation: moveSides 1s infinite alternate;
}

@keyframes moveSides {
    0% {
        transform: translateX(0px) translateY(0px);
    }
    50% {
        transform: translateX(5px) translateY(5px);
    }
    100% {
        transform: translateX(0px) translateY(0px);
    }
}

</style>