{% extends 'algapp/base.html' %}

{% block content %}

<br>
<div class="menu-container">
    <h2>{{response.name}}</h2>
    <div id="boxesAOAI">
        <h3>Ingridients:</h3>
        {% for item in response.ingredients%}
            {% if forloop.last %}
                {{item}}.
            {% else %}
                {{item}},
            {% endif %}
        {% endfor %}
    </div>
    <hr>
    <div id="boxesAOAI">
        <h3>Instructions:</h3>
        {% for item in response.instructions%}

        <ul>
            <li>{{item}}</li>
        </ul>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block js_files %} 
<script src="/static/algapp/js/script.js"></script>
{% endblock %}



