{% extends 'algapp/base.html' %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<div class="form_AOAI">
    
    <form class="form-container2" method="POST" action="{% url 'openai-ask' %}">
        <label class="label_AOAI" for="title">Here we could recommend you the best recipes according to your diet</label><br>

        <select class="select_AOAI" name="select_th">
            <option name="prompt_th1">Recipe</option>
            <option name="prompt_th2">Suggestion</option>
            <option name="prompt_th3">Free request</option>
        </select>

        <input class="select_AOAI" type="text" name="prompt" required value="">
        <button type="submit">Ask</button><br>
    </form>
    
</div> 

{% endblock %}
