{%extends 'algapp/base.html'%}

{%block content%}

<div class="rectangle3add"></div><h1 class="h1cadd">Here you could change the name and the ingredients of the dish</h1>
    <form class="form_add_c" method="post"> 
        {%csrf_token%}
            {{form}}
        <button type="submit"> Update Dish </button>
    </form>

{%endblock content%}

{% block js_files %} 

<script>

document.getElementById('id_search_query').addEventListener('input', function() {

    let searchQuery = this.value.toLowerCase();
    let allergenCheckboxes = document.querySelectorAll('input[name="dish_main_ingredients"]');

    allergenCheckboxes.forEach(function(checkbox) {
        let allergenName = checkbox.parentElement.textContent.toLowerCase();
        if (allergenName.includes(searchQuery)) {
            checkbox.parentElement.style.display = 'block'; 
        } else {
            checkbox.parentElement.style.display = 'none';   
        }
    });
});

document.getElementById('id_search_query_2').addEventListener('input', function() {

let searchQuery = this.value.toLowerCase();
let allergenCheckboxes = document.querySelectorAll('input[name="dish_var_ingredients"]');

allergenCheckboxes.forEach(function(checkbox) {
    let allergenName = checkbox.parentElement.textContent.toLowerCase();
    if (allergenName.includes(searchQuery)) {
        checkbox.parentElement.style.display = 'block'; 
    } 
    else {
        checkbox.parentElement.style.display = 'none';   
    }
});
});

</script>

{% block extra_widgets %}
{% include 'django/forms/widgets/checkbox_select_multiple.html' %}
{% endblock extra_widgets %}
{% endblock %}