{%extends 'base.html'%}

{%block content%}

<div class="restaurant-profile">
    <div class="menu">
      <h2>Restaurant Profile</h2>
      <br>
      <div class="restaurant-info">
        <h4>{{rest_customer.name}}</h4>
        <h4>Address: {{rest_customer.address}}</h4>
        <br>
        <a href="{% url 'update_restaurant' %}">Update Restaurant's information</a><br>
        <a href="{% url 'add_dish' %}">Add dish</a>
      </div>
      <hr>
      <hr>
      <h3>Menu</h3>
      
      <br>
        {% for dish in dishes %}
          <div class="wrapper_3">
            <h5 class="dish-name-box"><a href="{% url 'update_dish' dish.id %}">{{ dish.name }}</a></h5>
            
              
              <p class="dish-ing-box">

                {% for ingredient in dish.dish_main_ingredients.all %}
                
                  {{ ingredient.name }},
                {% endfor %}
                {% for ingredient in dish.dish_var_ingredients.all %}
                {% if forloop.last %}
                  {{ ingredient.name }}.
                {% else %}
                  {{ ingredient.name }},
                {% endif %}
                {% endfor %}
              </p>
            
            <form class="dish-btn-box" action="{% url 'delete_dish' dish.id %}" method="post" onsubmit="return confirmDelete('{{ dish.name }}')">
              {% csrf_token %}
              <button  type="submit">Delete</button>
            </form>

          </div>
          <hr>
        {% endfor %}
    </div>
</div>

<script>

function confirmDelete(dishName) {
    return confirm('Do you want to delete ' + dishName + '?');
}

</script>

{%endblock content%}

